/*/.idea/*
.DS_Store
/OOP/Netbeans/Lektion1/nbproject/private/
/OOP/Netbeans/Lektion1/build/
/OOP/Netbeans/__MACOSX/*
/OOP/Netbeans/Lektion1/dist/
/OOP/Netbeans/*.zip


/AJAX/*.zip

/OOP/Netbeans/Lektion2/nbproject/private/
/OOP/Netbeans/Lektion2/build/
/OOP/Netbeans/Obl_1/nbproject/private/
/OOP/Netbeans/Obl_1/build/
/OOP/Netbeans/Lektion3/nbproject/private/
/OOP/Netbeans/Lektion3/build/